# Supabase
# https://supabase.com/dashboard/project/_/settings/api から取得
PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# 管理者メールアドレス（アニメカバー画像アップロード権限）
ADMIN_EMAIL=your-admin@example.com
