# macOS dummy files
.DS_Store

# Node dependencies
node_modules/

# SvelteKit artifacts
.svelte-kit/

# Vitest reports
coverage/

# Supabase temporary metadata
supabase/.temp/

# Environment variables
.env

# Personal references
refs/
